<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Billedean - DETECCION DE CAMBIOS</title>
    <!-- Modificación de la ruta -->
    <link rel="stylesheet" href="/css/Landing/Index-style.css">
</head>

<body>
<header>
    <div class="container">
        <h1>Billedean - SNAPSHOT</h1>
        <p>Tu Asesor Financiero Personal</p>
        <p>Gestiona tus finanzas, sigue tus inversiones y toma decisiones informadas.</p>
        <a href="/login" class="cta-btn">Comienza Ahora</a>

    </div>
</header>

<section id="features">
    <div class="container">
        <h2>Funcionalidades Principales</h2>
        <div class="feature">
            <h3>Seguimiento de Acciones</h3>
            <p>Registra tus compras y ventas de acciones para tener un historial completo.</p>
        </div>
        <div class="feature">
            <h3>Calculadoras Financieras</h3>
            <p>Calcula ganancias, pérdidas y optimiza tus decisiones de inversión.</p>
        </div>
        <div class="feature">
            <h3>Panel de Finanzas Personalizado</h3>
            <p>Visualiza todas tus finanzas en un solo lugar, con reportes claros y fáciles de entender.</p>
        </div>
    </div>
</section>

<section id="cta">
    <div class="container">
        <h2>¿Listo para gestionar tus finanzas?</h2>
        <a href="#contact" class="cta-btn">Solicita una Demo</a>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2025 Billedean. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>
