<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Billedean</title>
    <link rel="stylesheet" href="/css/Login/Login-style.css">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h2>Acceder a Billedean</h2>
        <form action="#" method="POST">
            <div class="textbox">
                <input type="text" placeholder="Usuario" name="usuario" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Contraseña" name="contraseña" required>
            </div>
            <input type="submit" value="Iniciar Sesión" class="btn">
        </form>
        <div class="signup-link">
            <p>No tienes cuenta? <a href="#">Regístrate</a></p>
        </div>
    </div>
</div>
</body>
</html>
